*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}



.container{
    max-width: 1100px;
    margin: 0 auto;
    
}

.round{
    height:25px;
    width:25px;
    border-radius: 50%;
    background-color: #000;
    margin:20px 20px 0 20px;

}

.main-nav ul{
    list-style: none;
    display: flex;
}
.main-nav a{
    text-decoration:none;
    color:black;
    
}

.main-nav ul li{
    margin:20px 20px 0 20px;
}

.top-bar{
    display: flex;
    align-items: center;
}

.top-bar ul{
    list-style: none;
    display: flex;
}

.top-bar ul li a{
    text-decoration: none;
    color:black
}

.top-bar ul li{
    margin:20px 10px 0 10px;
}

.top-bar a:hover{
    border-bottom: black 3px solid;
    padding-bottom: 5px;
}

.main-nav a:hover{
    border-bottom: black 3px solid;
    padding-bottom: 5px;
}

.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}




/* Mountains Styling 1st Section */

.carousel{
    background:url('./assets/background.jpg');
    background-position: bottom;
    background-size: cover;
    height:400px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding:40px;
    font-size: 1.5rem;
    color:white;
    position: relative;
}



.carousel p{
    width:40%;
    margin:20px 0 40px 0;
    font-size: 1.3rem;
}

.btn{
    display: flex;
    justify-content:center ;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    height: 40px;
    width: 150px;
}



.btn-black{
    background:black;
    color:white;
}

.util{
    margin-left:10px;
    transition: 0.3s ease-in-out;
}

.btn:hover .util{
    margin-left: 20px;
}

/* Cards Section */

.cards-wrapper{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding: 20px;
    margin:0 0 40px 0;
}

.card img{
    width:100%;
    height:200px;
}

.card{
    font-size: 1rem;
    padding:20px;
    background: rgb(230, 230, 230);
}

.card h3{
    margin: 10px 0 20px 0;
    width: 100%;
    font-size: 1.2rem;
}

.card p{
    margin: 0;
    width:85%;
}

/* Util Margin */

.top-margin{
    margin-top: 20px;
}

/* Menu */

.menu{
    position: absolute;
    top:25px;
    right:20px;
    display: none;
}



/* Media Queries */


@media(max-width:700px){
    .cards-wrapper{
        grid-template-columns: 1fr;
    }
    .carousel{
        padding:20px;
        justify-content: space-between;

    }
    .carousel p{
        font-size: 1rem;
        width:80%;
    }
    .carousel h2{
        width:100%;
        font-size: 2rem;
    }
    .menu{
        display:block;
        top:15px;
        right:10px;
    }
    .main-nav ul{
        position: absolute;
        top:0;
        left:0;
        display: flex;
        height:100vh;
        width: 50vw;
        background: white;
        opacity: 0.9;
        z-index: 10;
        flex-direction: column;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;

    }

    .main-nav ul li{
        padding:30px;
        width: 80%;
    }

    .main-nav ul li a{
        margin-top: 10px;
        padding:10px;
        width:100%;
        
    }



    .top-bar{
        margin:0 50px 0 0 ;
    }
    .top-bar ul li{
        margin:20px 5px 0 5px;
    }
    .main-nav ul.tongue{
        transform: translateX(0);
    } 
    .round{
        margin:10px 10px 0 10px;
    }
    .main-nav ul li{
        margin:10px 10px 0 10px;
    }
    .top-bar ul li{
        margin:10px 10px 0 10px;
    }
    .top{
        margin-bottom: 10px;
    }
    .card img{
        height:150px;
    }
    .card{
        padding: 14px;
    }
}

